div.instruction-container {
   display: grid;
   grid-template-columns: minmax(60px, auto) minmax(75px, auto) minmax(80px, 1fr) minmax(75px, 0.75fr);
}

div.instruction-container div {
   padding: 5px;
   margin: 5px;
}

div.instruction-container div.raw-column {
   text-align: left;
   font-family: Monospace;
   font-size: 12pt;
   padding: 5px 2em;
   margin: 5px;
}

div.instruction-container.odd {
   background-color: #EFEFEF;
}

div.instruction-container.last {
   border-bottom: none;
}
