div.centered {
   margin: auto;
   margin-top: 2em;
   max-width: 600px;
   text-align: center;
   width: 50%;
}

@media (max-width: 600px) {
   div.centered {
      width: 100%;
   }
}

@media (min-width: 600px) and (max-width: 1024px) {
   div.centered {
      width: 75%;
   }
}

.upload {
   margin: 2em 0;
}

h1 {
   font-weight: normal;
   font-size: 24pt;
}
