div.centered {
   margin: auto;
   margin-top: 2em;
   max-width: 600px;
   text-align: center;
   width: 50%;
}

@media (max-width: 600px) {
   div.centered {
      width: 100%;
   }
}

@media (min-width: 600px) and (max-width: 1024px) {
   div.centered {
      width: 75%;
   }
}

.header {
   flex-basis: 2rem;
}

.subnav {
   justify-content: initial;
}

.subnav a {
   padding: 0.25rem 0.5rem;
}

.subnav a:hover {
   background-color: rgba(255, 255, 255, 0.1);
}
