div.centered {
   margin: auto;
   text-align: center;
   min-width: 300px;
   max-width: 600px;
   width: 50%;
}

@media (max-width: 600px) {
   div.centered {
      width: 100%;
   }
}

.upload {
   margin: 2em 0;
}
