<input
       type="file"
       #file
       style="display: none"
       (change)="onFilesAdded()"
       [multiple]="allowMultiple"
/>
<div class="container" fxLayout="column" fxLayoutAlign="space-evenly-stretch">
   <div>
      <button
         [disabled]="uploading"
         mat-raised-button
         color="primary"
         class="add-files-btn"
         (click)="addFiles()"
      >
         {{primaryButtonText}}
      </button>
   </div>

   <mat-list #uploadlist fxFlex>
      <mat-list-item *ngFor="let file of files">
         <h4 mat-line>{{file.name}}</h4>
         <mat-progress-bar
            *ngIf="progress"
            mode="determinate"
            [value]="progress[file.name].progress | async"
         ></mat-progress-bar>
      </mat-list-item>
   </mat-list>
</div>
