<input
       type="file"
       #file
       style="display: none"
       (change)="onFilesAdded()"
       [multiple]="allowMultiple"
/>
<div class="container" fxLayout="column" fxLayoutAlign="space-evenly-stretch">
   <div>
      <button
         [disabled]="uploading"
         class="btn btn-primary add-files-btn"
         (click)="addFiles()"
      >
         {{primaryButtonText}}
      </button>
   </div>

   <ul class="list" #uploadlist fxFlex>
      <li *ngFor="let file of files">
         <h4>{{file.name}}</h4>
         <div class="progress flash">
            <progress
               *ngIf="progress"
               max="100"
               [value]="progress[file.name].progress | async"
            ></progress>
         </div>
      </li>
   </ul>
</div>
