h2 {
   font-size: 0.8rem;
   font-weight: normal;
   line-height: inherit;
   margin-bottom: 0.5em;
   text-align: left;
}

@media (max-width: 600px) {
   .binary-name {
      padding: 0 0.5rem;
   }
}

.instruction-list-container {
   margin: 2em 0;
}

.instruction-header {
   border-bottom: 1px solid #333333;
   display: grid;
   font-weight: bold;
   grid-template-columns: minmax(60px, auto) minmax(75px, auto) minmax(110px, 1fr) minmax(100px, 0.75fr);
   padding: 5px;
}

div.large-side-padding {
   padding: 0 2em;
}
