@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@clr/ui/clr-ui.min.css';
@import '~@clr/icons/clr-icons.min.css';

* {
   margin: 0;
   padding: 0;
}

.bold {
   font-weight: bold;
}

.left-justify {
   text-align: left;
}

// override Clarity class to have 0 margin instead of 0.25rem on everything
// except the left side for some reason??
.btn {
   margin: 0;
}

// override Clarity class to have no text decoration on list items
.list li {
   list-style-type: none;
}
